body {
	background-color:#F7F4ED;
	font-family: 'Lato 300', sans-serif;
	margin:0 auto;
	font-size:16px;
}


nav, header{
	/*border:solid;
	border-color:#5A5E5E;*/
}

header {
	width:95%;
	height:150px;
	margin:5px auto 5px auto;
	padding:1%;
}

#content, .promocontainer {
	width:95%;
	margin:1%;
	padding:1%;
	/*border:solid;
	border-color:#5A5E5E;*/
}

#missioncontainer {
	width:95%;
	padding:1%;
	margin:1% auto;
	/*border:solid;
	border-color:#5A5E5E;*/
}

#missiontextbox {
	width:42%;
	float:left;
	margin:10% auto 10% 5%;
	padding:1% auto;
	text-align:center;
	padding:20% auto 1% auto;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5em;

}

#content{
	overflow:hidden;
}

#logo {
	float:left;
	width:20%;
	margin-right:30px;
	padding:20px;
}

nav{
	width:70%;
	height:50px;
	margin:10px auto;
	text-align: center;
	float:right;
	display:inline;
	padding-top:55px;
}

li.menulink{
	margin:15px;
	display:inline;
	font-size:.938em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
  color: #5A5E5E;
  text-decoration: none;
  padding: 20px 40px;
}

a:hover {
	background-color:white;
}

a:visited {
}

a:active {
	background-color:#FF5B4A;
}

/*#content{
	margin: 10px auto;
	padding:20px;
}*/

#missioncontainer {
	width:95%;
	height:500px;
	margin:auto;
	padding:1%;
	/*border:solid;
	border-color:#5A5E5E;*/
}

#missionimg{
	background: #ffffff url("imgs/woman.jpg") no-repeat right center;
	margin:10px;
	width:723px;
	height:480px;
	display: inline;
	float:right;
}

#missiontext{
	width:40%;
	display: inline;
	float: left;
	clear:both;
	line-height: 40px;
	margin:150px auto 0 30px;
	text-align: center;
	font-size: 1.375em;
	font-weight: 100;
	/*border:solid;
	border-color:#5A5E5E;
	/*padding:1% auto;*/
}

.promocontainer{
	height:240px;
	margin:5px auto 30px auto;
	/*border:solid;
	border-color:#5A5E5E;*/
}

.promoblocks{
	width:30%;
	height:85%;
	margin:1%;
	float: left;
	border:solid;
	border-width:8px;
	border-color:white;
}

h1{
	width:100%;
	margin: 90px auto 10px auto;
	font-size:2em;
	text-align: center;
	font-weight:900;
	color:#5A5E5E;
}

hr {
	background-color: #00BDA9;
	border-style:none;
	width: 50px;
	height:5px;
}

p{
	width:80%;
	padding:50px;
}

h2 {
	margin-bottom: 10px;
	font-size:1.5em;
}

h3 {
	color:white;
	display: inline;
}

footer {
	margin-top:50px;
	height:500px;
  	background: #5A5E5E;
	/*overflow-x: hidden;
    overflow-y: scroll;*/
}

#emailentry, #directions {
	width:40%;
	height:75%;
	margin:30px;
	padding:0 30px;
	float: left;
	text-align: center;
}

#map {
	margin-bottom:20px;
}

#directioninfo {
	float:left;
	display:inline;
	font-size: 1em;
	line-height: 30px;
	padding:10px;
	width:470px;
	text-align: left;
	/*border:solid;
	border-width:5px;
	border-color:white;*/
}

.clearfix {
    content: "";
    display: inline;
    height: 0;
    clear: both;
    visibility: hidden;
}


#emailentry {
	border:solid;
	border-color:#00BDA9;
	border-width:6px;
	height:300px;
}

#emailentry h1 {	
	/*margin-left:35px;*/
	color:white;
	font-size:1.75em;
	text-align: left;
	font-weight: 500;
}

#emailentry h2{
	color:white;
	font-size:.875em;
	text-align: left;
	font-weight: 300;
}

em {
	color:#FF5B4A;
}

#emailfield {
	width: 60%;
	font-size: 1em;
	float:left;
	clear:both;
	margin:2%;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px;
	height: auto;
}

/*.submitbutton {
	width:20%;
	height:50px;
	margin-top:25px;
	margin-left:15px;
	margin-right:20px;
	display: inline;
	text-align:center;
	color:#FF5B4A;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: 700;
}*/

.myButton { /*Submit Button*/
	float:left;
	clear:right;
	margin:2%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #dcdcdc;
	display:inline;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:1em;
	font-weight:bold;
	padding:14px 35px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 { /*Get Directions Button*/
	float:right;
	clear:both;
	margin-bottom: 50px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:1em;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.socialIcons {
	float:right;
	margin:10px;
}

a.socialIcons {
  padding: 1%;
}

a:hover {
	background-color:white;
}

a:visited {
}

a.socialIcons:active {
	background-color:none;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 800px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 12px;
	}
	header {
		width:100%;
		overflow:none;
		height:30em;
		padding:.5em;
	}
	#logo {
		width:55%;
		padding-left: 6em;
		display:block;
		margin:0 auto;
	}

	nav{
		width:105%;
		height:20em;
		background-color:#F7F4ED;
		margin:0 auto;
		padding:.5em;
		/*background:red;*/
	}

	li.menulink {
		width:100%;
		margin:1em auto;
		padding: .5em auto;
		display:block;
    	letter-spacing: 0.15em;
    	line-height: 3.2em;
    	border-bottom: .4em solid #FF5B4A;
    	font-size:12px;
		/*outline-width: .5em;
		width:100%;
		padding:.5em auto;
		margin:.5em auto;
		line-height: 5em;*/
	}

	a:hover {
		display: none;
	}

	a:active {
		display:none;
	}

	/*#missioncontainer {
	width:95%;
	border:solid;
	border-color:#5A5E5E;
	padding:1%;
	margin:1% auto;
	}*/

	#missiontextbox {
	width:85%;
	float:none;
	margin:1% auto;
	/*padding:1% auto;
	text-align:center;
	padding:20% auto 1% auto;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.5em;*/
	}

	#missionimg{
	display:none;
	}

	#missioncontainer {
	height:14em;
	}

	.promocontainer{
	height:45em;
	margin:5px auto;
	/*border:solid;
	border-color:#5A5E5E;*/
	}

	.promoblocks{
	width:85%;
	height:12em;
	margin:3% auto;
	float: none;
	}

	h1{
	margin: 1.5em auto;
}

footer {
	margin:1% auto;
	padding:5em auto 5em auto;
	height:80em;
}

/* NO SURE HOW TO SHRINK DOWN MAP 
script #map {
	display:none;
}*/

#directions {
	width:70%;
	height:150px;
	margin:5% auto;
	padding:2% auto;
	float: none;
	display:none;
	text-align: center;
}

#emailentry {
	float:none;
	display: block;
	margin:10em auto 1em auto;
	width:70%;
	height:20em;
}

#emailfield {
	width: 95%;
	font-size: 1em;
	float:left;
}

h2 {
	font-size:2em;
}





