body {
	background-color:#F7F4ED;
	font-family: 'Lato 300', sans-serif;
	margin:0 auto;
}


#nav, header{
	margin:1%;
}

#content, #mission, #promocontainer, #missiontext {
	width:95%;
}

#content{
	overflow:hidden;
}

#logo{
	float:left;
	margin-right:30px;
	width:20%;
	padding:20px;
}


nav{
	width:70%;
	text-align: center;
	float:right;
	display:inline;
	padding-top:55px;
}

li.menulink{
	margin:15px;
	display:inline;
	font-size:14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
  color: #5A5E5E;
  text-decoration: none;
  padding: 20px 40px;
}

a:hover {
	background-color:white;
}

a:visited {
}

a:active {
	background-color:#FF5B4A;
}

/*#content{
	margin: 10px auto;
	padding:20px;
}*/

#missioncontainer {
	width:95%;
	margin:auto;
	padding:1%;
	/*border:solid;
	border-color:#5A5E5E;*/
}

/*#missionimg{
	background: #ffffff url("imgs/woman.jpg") no-repeat right center;
	margin:0;
	padding:1em;
	width:70%;
	height:70%;
	display: inline;
	float:right;
}*/

#missiontext{
	width:95%;
	display: inline;
	float: left;
	clear:both;
	line-height: 40px;
	margin:50px auto 0 30px;
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	/*border:solid;
	border-color:#5A5E5E;
	/*padding:1% auto;*/
}

#promocontainer{
	width:95%;
	height:350px;
	margin:auto;
	float:left;
	clear:both;
	border:solid;
	border-color:red;
}

.promoblocks{
	width:30%;
	height:250px;
	margin:1%;
	float: left;
	border:solid;
	border-width:8px;
	border-color:white;
}

h1{
	width:100%;
	margin: 90px auto 10px auto;
	font-size:32px;
	text-align: center;
	font-weight:900;
	color:#5A5E5E;
}

hr {
	background-color: #00BDA9;
	border-style:none;
	width: 50px;
	height:5px;
}

p{
	width:80%;
	padding:50px;
}

h2 {
	margin-bottom: 10px;
}

h3 {
	color:white;
	display: inline;
}

footer {
	margin-top:50px;
	height:500px;
  	background: #5A5E5E;
	/*overflow-x: hidden;
    overflow-y: scroll;*/
}

#emailentry, #directions {
	width:40%;
	height:75%;
	margin:30px;
	padding:0 30px;
	float: left;
	text-align: center;
}

#map {
	margin-bottom:20px;
}

#directioninfo {
	float:left;
	display:inline;
	font-size: 16px;
	line-height: 30px;
	padding:10px;
	width:470px;
	text-align: left;
	/*border:solid;
	border-width:5px;
	border-color:white;*/
}

.clearfix {
    content: "";
    display: inline;
    height: 0;
    clear: both;
    visibility: hidden;
}


#emailentry {
	border:solid;
	border-color:#00BDA9;
	border-width:6px;
	height:300px;
}

#emailentry h1 {	
	/*margin-left:35px;*/
	color:white;
	font-size:28px;
	text-align: left;
	font-weight: 500;
}

#emailentry h2{
	color:white;
	font-size:14px;
	text-align: left;
	font-weight: 300;
}

em {
	color:#FF5B4A;
}

#emailfield {
	width: 60%;
	font-size: 16px;
	float:left;
	clear:both;
	margin:2%;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px;
	height: auto;
}

/*.submitbutton {
	width:20%;
	height:50px;
	margin-top:25px;
	margin-left:15px;
	margin-right:20px;
	display: inline;
	text-align:center;
	color:#FF5B4A;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: 700;
}*/

.myButton { /*Submit Button*/
	float:left;
	clear:right;
	margin:2%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #dcdcdc;
	display:inline;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:14px 35px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 { /*Get Directions Button*/
	float:right;
	clear:both;
	margin-bottom: 50px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.socialIcons {
	float:right;
	margin:10px;
}

a.socialIcons {
  padding: 1%;
}

a:hover {
	background-color:white;
}

a:visited {
}

a.socialIcons:active {
	background-color:none;
}





