
body {
	background-image:url("Assets/stripes.png"), url("Assets/background.jpg");
	background-repeat: repeat-x, no-repeat;
	background-attachment:fixed;
	font-family:Helvetica;
	font-weight:lighter;
	font-size:20px;
	color:white;
	width:500px;
	padding: 280px 100px;
	text-align:left;
	line-height:60px:;
}

hr{
	width:30px;
	height:2px;
	background-color:#F77076;
	color:#F77076;
	border:0 none;
	margin-top:20px;
	margin-bottom:20px;
}

a[href="background.jpg"] {
	border:none;
	outline:none;
}
